<polymer-element name="game-app">
  <template>
    <style>
      .loader {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #42abe1;
        -webkit-transition: opacity 500ms linear;
        transition: opacity 500ms linear;
      }

      .loader > img {
        position: absolute;
        opacity: 0;
        -webkit-transition: opacity 1s linear;
        transition: opacity 1s linear;
      }

      .loader > img.visible {
        opacity: 1;
      }
    </style>
    <canvas id="gamecanvas" width="{{width}}" height="{{height}}" style="width:{{width}}px;height:{{height}}px;"></canvas>
    <div id="gameloader" class="loader" style="width:{{width}}px;height:{{height}}px;"></div>
  </template>
  <script src="game-app.dart" type="application/dart"></script>
</polymer-element>