<link rel="import" href="game-app.html">
<link rel="import" href="pstj-credits.html">
<polymer-element name="my-demo">
  <template>
    <style>
      pstj-credits {
        display: block;
      }
      game-app {
        position: relative;
        display: block;
        border: 2px solid red;
      }
      .bold {
        font-weight: bold;
      }
    </style>
    <h1>Demo</h1>
    <game-app width="{{width}}" height="{{height}}"
        style="width:{{width}}px;height:{{height}}px"
        framerate="3"
        screenScrollTime="1.2"
        obstacleDistance="200"></game-app>
    <pstj-credits>Demo app that combines
      <span class="bold">StageXL</span> and <span class="bold">Polymer.dart</span>
      into one.</pstj-credits>
    <!-- <game-app width="480" height="640" style="width:480px;height:640px"></game-app> -->
  </template>
  <script type="application/dart">
    import "package:polymer/polymer.dart";
    @CustomTag('my-demo')
    class MyDemo extends PolymerElement {
      MyDemo.created() : super.created();
      @published
      int width = 320;
      @published
      int height = 480;
    }
  </script>
</polymer-element>